.body{
    z-index: 0;
    height: 100%;
    width: 1000px;
    margin-left: 50%;
    position: relative;
    left: -500px;

    padding:35px 5px 250px 5px;

    background: rgba(132, 132, 132, 0.85);
    -webkit-box-shadow: rgba(0, 0, 0, 0.7) 0 1px 8px, inset rgba(0, 0, 0, 0.4) 0 0 0 1px;
    -moz-box-shadow: rgba(0, 0, 0, 0.7) 0 1px 8px, inset rgba(0, 0, 0, 0.4) 0 0 0 1px;
    box-shadow: rgba(0, 0, 0, 0.7) 0 1px 8px, inset rgba(0, 0, 0, 0.4) 0 0 0 1px;

}
.tiny_links{
    color: #949494 !important;
    float:right;
    padding-left: 10px;
    padding-right: 10px;
}
.user_name{
    padding-left: 30px;
}
.instrument_container{
    width:80%;
}
.Base_Impurity{
    width:49%;
}
#right{
    float: right;
}
#left{
    float: left;
}
.blue_info{
    color: rgba(31, 150, 228, 0.68) !important;
    padding-left:20px;
    font-size: larger;

}
.instrument_id{
    float:right;

    text-align: center;

}
.num_id{
    color:red;
    font-size:50px;

    padding:0;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: rgba(160, 160, 160, 0.79);
    -webkit-box-shadow: rgba(0, 0, 0, 0.7) 0 1px 8px, inset rgba(0, 0, 0, 0.4) 0 0 0 1px;
    -moz-box-shadow: rgba(0, 0, 0, 0.7) 0 1px 8px, inset rgba(0, 0, 0, 0.4) 0 0 0 1px;
    box-shadow: rgba(0, 0, 0, 0.7) 0 1px 8px, inset rgba(0, 0, 0, 0.4) 0 0 0 1px;

}
.Page_title{


}
.New_record{
    top: 30px;

    padding-right: 10px;
}
.delete_button{
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAACd0lEQVQ4T22Tz0sbQRTH3+zPbDaJa0SLtYdoTSgeyhwEPfQS8A9Q/AcMePBo/xL9D+J/EBFqBJUBtQfxMpWilxZCW6RaN8mazJrdZnfLTLPbWByYfcPO+3zfm/dmEAzGp/X1Lb/VKvw4Pq6stNvt+P+wrRUK1iTG1b7nNd7V6+/5HuKfzxsb1TzGazdHR9C8vqaMsfJKo/FEZAATa3YW35+dQe/hYWfp6qqCeOTx+fnNm8ND8JtNiIIAure31PW8RCSBZ2awfXoqfPhgjG2ji9XVGkJo2bftvxtBAFEYArNt6vp+mTtOYkys6Wlsn5yI/Xh0ut1dVLMsy5yaIubYGI5h4RSG0HUcas3NwegwHEXi3A+uS91+vyxqwFNM6zox83khwmEUhsLmFxehfX4uInNnFEXQZoy6YSiOKAQSEU0jZi6HY5g7R54HUa8nQO7clWXKBnDShWERQ1VJxjBw0GpB4DggAYAkSSDLMnQUhT4axpMOJRnEWUyUSiSt67hJCMgDkMN87agqZar6vACvw3ipRDKWhe8PDkAGAIWDsvzPKgrYANSRpEQkKeJ4sSjgX/W6gAWoKGKqAxsL/gwC2oyLKCIXi8S0LHy3vw9SFImIHGSaRmVFgQlZxqqqCiE+ufi3Xo/e+X4ZfVxaqhmWtXz74YOA45R7qRR9TKfFRRqJIvJK17GmaaANhBBC8KXT2UVkYWHLpXQzhrlAzzCob5pPrnJeksjrbBandF2I8M58dZxtUYO9bLaqet4ah33TpL8zmWcf0wtdJ29GR7GRSsF3xnZKFxeVpI17udwWkuVCf2Sk8v9LHL4nL9PpqqEojbeXl+I5/wFKtD7oFPdrhwAAAABJRU5ErkJggg==") no-repeat;
    width:16px;
    height:16px;

    border: none;
}.delete_button_forum{
     float:right;
 }
 .left{
     float:left;
 }
 .right{
     float:right;
 }
